.postContainer {
  padding: 2rem;
}

.bodyContainer {
  padding: 2rem 0;
}

.mainImage,
.bodyImage {
  position: relative;
  height: 15rem;
}

.mainImage > img,
.bodyImage > img {
  object-fit: contain;
  object-position: 65% 35%;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.bodyText {
  line-height: 1.5;
  margin-left: 0;
  padding-left: 0;
}

.bodyImage {
  position: relative;
  width: 100%;
  height: 20rem;
  margin-block: 2.5rem;
}

.bodyImage > img {
  object-fit: cover;
}

.heading1,
.heading2 {
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 0;
}

.heading1 {
  font-size: 1.5rem;
}

.heading2 {
  font-size: 1.25rem;
}

.normalText {
  padding-bottom: 1rem;
}

.backBtn {
  cursor: pointer;
  color: rgb(147, 145, 145);
  border-radius: 50%;
  border: 1.5px solid rgb(147, 145, 145);
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backBtn svg {
  font-size: 1.5rem;
}

@media screen and (min-width: 27.5em) {
  .mainImage,
  .bodyImage {
    height: 20rem;
  }

  .mainImage > img,
  .bodyImage > img {
    object-fit: cover;
  }
}
@media screen and (min-width: 47.9375em) {
  .postContainer {
    margin: 0 auto;
  }

  .bodyImage,
  .mainImage {
    height: 31.25rem;
  }

  .heading1 {
    font-size: 2.25rem;
  }

  .heading2 {
    font-size: 1.875rem;
  }

  .backBtn svg {
    font-size: 1.8rem;
  }

  .backBtn {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (min-width: 75rem) {
  .title {
    font-size: 2.6rem;
  }
}
