.mainPage {
	padding: 2rem;
}

.heading {
	text-align: center;
}

.flexContainer {
	display: flex;
	gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
}

.left {
	cursor: pointer;
}

.left,
.right {
	flex-basis: 48%;
}

.postContainer {
	padding: 2rem;
	width: 90%;
	margin: 0 auto;
}

.mainImage {
	position: relative;
	height: 500px;
}

.authorImage,
.authorImage > img {
	border-radius: 50%;
}

.bodyImage {
	position: relative;
	width: 100%;
	height: 500px;
}

.bodyImage > img {
	object-fit: cover;
}

.bodyContainer {
	padding: 2rem 4rem;
}
